<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        Bot_for_kids
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- inject:css -->
    <!-- endinject -->
    
</head>

<body>
    <h1>
        Welcome to the <em>Bot_for_kids</em></h1>
    <p>
        Generate a Microsoft Teams application.
    </p>
    
        <p>
            Add the Bot to Microsoft Teams: 
            <a href='https://teams.microsoft.com/l/chat/0/0?users=28:{{MICROSOFT_APP_ID}}'><img height="30" width="113" src='https://dev.botframework.com/Client/Images/Add-To-MSTeams-Buttons.png'></a>
        </p>
    
</body>

</html>